body {
    background-color: grey;
    /* background-image: url("../images/Olympus.jpg"); */
    text-align: center;
}

.characters {
    background-color: #ffffffa8;
    margin-top: 5%;
    padding: 20px;
    border: 10px double #fdfdfde3;
}

progress {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(231, 245, 237);
    padding: 10px;
    
}
progress::-webkit-progress-value {
    background: rgb(121, 189, 138);;
  }

.fader {
    opacity: 0.3;
}

#fightBtn {
    margin: auto;
    background-color: rgba(15, 65, 88, 0.877);
    padding: 20px;
    color: white;
    font-weight: 600; 
}

#myEnemySpot {
    float: right;
}

#heroHP, #enemyHP {
    color: white;
    margin-top: 10px;
}

#myHeroSpot {
    float: left;
}

.gameplayHero, .gameplayEnemy {
    color: white;
}

.gameplay, .hp {
    
    padding: 20px;
    border-left: 10px double rgba(255, 255, 255, 0.753);
    border-right: 10px double  rgba(255, 255, 255, 0.753);
}

.gameplay {
    margin-top: 10px;
    border-top: 10px double  rgba(255, 255, 255, 0.753);
    
}

.hp {
    border-bottom: 10px double  rgba(255, 255, 255, 0.753);
    background-color: rgba(71, 109, 126, 0.774);
}